<!doctype html>
<main>
<html lang="zxx">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Watch shop | eCommers</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="manifest" href="site.webmanifest">
  <link rel="shortcut icon" type="image/x-icon" href="static/assets/img/favicon.ico">

  <!-- CSS here -->
      <link rel="stylesheet" href="static/assets/css/bootstrap.min.css">
      <link rel="stylesheet" href="static/assets/css/owl.carousel.min.css">
      <link rel="stylesheet" href="static/assets/css/flaticon.css">
      <link rel="stylesheet" href="static/assets/css/slicknav.css">
      <link rel="stylesheet" href="static/assets/css/animate.min.css">
      <link rel="stylesheet" href="static/assets/css/magnific-popup.css">
      <link rel="stylesheet" href="static/assets/css/fontawesome-all.min.css">
      <link rel="stylesheet" href="static/assets/css/themify-icons.css">
      <link rel="stylesheet" href="static/assets/css/slick.css">
      <link rel="stylesheet" href="static/assets/css/nice-select.css">
      <link rel="stylesheet" href="static/assets/css/style.css">
</head>
{% include 'base.html' %}
<body>
    <style>
        a {
            color: blue;
        }
        .logout {
            color: red;
        }
    </style>
    <table style="width: 250px;" class="table table-dark">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th><a href="/account">User Dashboard</a></th>
          </tr>
          <tr>
            <th><a href="/orders" >Orders</a></th>
          </tr>
          <tr>
            <th><a href="/logout" class="logout" >Logout</a></th>
          </tr>
        </tbody>
      </table>
</body>
{% include 'footer.html' %}
</html>